*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Charis SIL', serif;
}

@keyframes CoinAnime {
  0%{
    top: 10%;
    left: 15%;
  }
  10%{
    top: 20%;
    left: 0%;
  }
  30%{
    top: 30%;
    left: 15%;
  }
  40%{
    top: 40%;
    left: 0%;
  }
  50%{
    top: 50%;
    left: 15%;
  }
  60%{
    top: 60%;
    left: 0%;
  }
  70%{
    top: 70%;
    left: 15%;
  }
  80%{
    top: 80%;
    left: 0%;
  }
  90%{
    top: 90%;
    left: 15%;
  }
  100%{

    top: 100%;
    left: 0%;
  }
}